/***** Base Styles *****/
/* For mobile phones: */
*  {
  box-sizing: border-box;
}

body {
  background-image: url("../images/bg-mobile.svg");
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white;
  min-height: 100vh;
  background-color: hsl(257, 40%, 49%);
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  padding: 7% 0;
}

header img {
  width: 50%;
  padding: 0 7%;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}

#illustration img {
  max-width: 100%;
  height: auto;
  padding: 9% 3%;
}

#community  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 1em 0 .25em;
  padding-top: 6%;
}

p {
  text-align: center;
  padding: 3%;
  margin: .5em 0;
  line-height: 1.6;
}

button {
  width: 60%;
  font-size; 16px;
  margin: 5% 0 20%;
  padding: 1em;
  border:  none;
  border-radius: 16px;
  color: hsl(257, 40%, 49%);
}

.button:hover  {
  background-color: hsl(300, 69%, 71%);
}

#social-icons {
  display: flex;
  justify-content: center;
  padding: 0 0 5%;
}

#social-icons a {
  margin: 15%;
  padding: 15% 25%;
  text-decoration: none;
  border: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 50%;
}

i {
  color: white;
}

i:hover {
  color: hsl(300, 69%, 71%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* For tablets: */


/* For desktop: */
@media screen and (min-width: 600px) {

  body{
    background-image: url("../images/bg-desktop.svg");
  }

  header {
    /* padding: 2% 0; */
  }

  header img {
    width: 15%;
  }

  main {
    flex-direction: row;
  }

  .half-width {
    width: 50%;
  }

  #illustration img {
    padding: 5% 0;
  }

  #community  {
    /* align-items: left; */
    justify-content: flex-start;
  }

  h1  {
    align-self: flex-start;
    font-size: 2em;

  }

  p {
    text-align: left;
  }

  button  {
    width: 25%;
    /* margin: 0; */
    align-self: flex-start;
  }

  #social-icons {
    justify-content: flex-end;
  }
}
